name: CI with Spring Boot 3.x

on:
  push:
    branches: [ master ]
  schedule:
    - cron: "0 0 * * *"
    
jobs:
  build:
    name: Test with ${{ matrix.spring-boot-version }} on JDK ${{ matrix.java }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        java: [17, 21, 25]
        distribution: ['temurin']
        spring-boot-version: ['3.2', '3.3', '3.4', '3.5']
        exclude:
          - java: 25
            spring-boot-version: 3.2
          - java: 25
            spring-boot-version: 3.3
          - java: 25
            spring-boot-version: 3.4
      fail-fast: false
      max-parallel: 6
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
      - name: Show a Java version
        run: java -version
      - name: Verify a compatibility
        run: ./verify.sh ${{ matrix.spring-boot-version }}
